@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

div {
    margin: 0;
    padding: 0;
}

ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
}

.content-box {
    width: 1216px;
    margin: 0 auto;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.noto-sans {
    font-family: 'Noto Sans KR', sans-serif;
}

.font-700 {
    font-weight: 700;
}

.font-400 {
    font-weight: 400;
}